<div class="container mt-5" *ngIf="messages">
  <ul *ngIf="focusedUser.length" class="list-group messages-list">
      <li *ngFor="let message of messages[focusedUser]">
          <div>
              <span class="font-weight-bold">{{message.user}}:</span>
              <span>{{message.message}}</span>
          </div>
      </li>
    </ul>
  <div *ngIf="!focusedUser.length" class="alert alert-info">Select a user to start chatting</div>
</div>

<form *ngIf="focusedUser.length">
  <input type="text" name="message" [(ngModel)]="message">
  <button (click)="sendMessage()">Send</button>
</form>
